system {
    root-authentication {
        encrypted-password "{{ ENCRYPTED_ROOT_PW }}"; ## SECRET-DATA
    }
    login {
        user meshrr {
            class super-user;
            uid 100;
            authentication {
                ssh-ed25519 "ssh-ed25519 TBD"; ## SECRET-DATA
            }
        }
    }
    /* Required for configuration persistence */
    no-compress-configuration-files;
    services {
        netconf {
            ssh;
        }
    }
    license {
        keys {
            key "{{ LICENSE_KEY }}";
        }
    }
    processes {
        routing {
            bgp {
                rib-sharding;
                update-threading;
            }
        }
    }
}
routing-options {
    autonomous-system {{ AUTONOMOUS_SYSTEM }};
    router-id {{ POD_IP }};
}
groups {
    MESHRR {
        {% if MESHRR_MODE == 'routeserver' %}policy-options {
            as-list MESHRR-RSCLIENTS members {{ MESHRR_ASRANGE }};
        }
        {% endif %}protocols {
            bgp {
                {% if MESHRR_FAMILY_INET != "false" %}family inet {
                    unicast {
                        nexthop-resolution {
                            no-resolution;
                        }
                        no-install;
                    }
                }{% endif %}
                {% if MESHRR_FAMILY_EVPN == "true" %}family evpn {
                    signaling {
                        nexthop-resolution {
                            no-resolution;
                        }
                        no-install;
                    }
                }{% endif %}
                group MESHRR-MESH {
                    type internal
                    {% if MESHRR_FAMILY_INET != "false" %}family inet {
                        unicast;
                    }{% endif %}
                    {% if MESHRR_FAMILY_EVPN == "true" %}family evpn {
                        signaling;
                    }{% endif %}
                }
                group MESHRR-CLIENTS {
                    {% if MESHRR_MODE == 'routeserver' %}type external;
                    multihop {
                        ttl 10;
                        no-nexthop-change;
                    }
                    {% if MESHRR_FAMILY_INET != "false" %}family inet {
                        unicast;
                    }{% endif %}
                    {% if MESHRR_FAMILY_EVPN %}family evpn {
                        signaling;
                    }{% endif %}
                    peer-as-list MESHRR-RSCLIENTS;{% else %}type internal;
                    cluster {{ POD_IP }};{% endif %}
                    allow {{ MESHRR_CLIENTRANGE }};
                }{% if UPSTREAM_SERVICE_NAME is defined and UPSTREAM_SERVICE_NAME is not none %}
                group MESHRR-UPSTREAM {
                    type internal;
                    {% if MESHRR_FAMILY_INET != "false" %}family inet {
                        unicast;
                    }{% endif %}
                    {% if MESHRR_FAMILY_EVPN == "true" %}family evpn {
                        signaling;
                    }{% endif %}
                }{% endif %}
            }
        }
    }
}
apply-groups MESHRR;
