bcrypt==3.2.0
cffi==1.15.1
cryptography==41.0.4
dnspython==2.0.0
importlib-resources==3.3.0
Jinja2==2.11.3
junos-eznc==2.6.6
lxml==4.9.1
MarkupSafe==1.1.1
ncclient==0.6.13
netaddr==0.8.0
paramiko==2.10.1
pip==23.3
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
pyserial==3.5
python-dotenv==0.15.0
PyYAML>=6.0.1
scp==0.13.3
setuptools==65.5.1
six==1.15.0
transitions==0.8.5
wheel==0.38.1
yamlordereddictloader==0.4.0
zipp==3.4.0