system {
    root-authentication {
        encrypted-password "{{ encrypted_root_pw }}"; ## SECRET-DATA
    }
    login {
        user meshrr {
            class super-user;
            uid 100;
            authentication {
                ssh-ed25519 "ssh-ed25519 TBD"; ## SECRET-DATA
            }
        }
    }
    /* Required for configuration persistence */
    no-compress-configuration-files;
    services {
        netconf {
            ssh;
        }
    }
    license {
        keys {
            key "{{ LICENSE_KEY }}";
        }
    }
    processes {
        routing {
            bgp {
                rib-sharding;
                update-threading;
            }
        }
    }
}
routing-options {
    autonomous-system {{ asn }};
    router-id {{ POD_IP }};
}
groups {
    MESHRR {
        policy-options {
            {%- for bgpgroup in bgpgroups_subtractive %}
            as-list MESHRR:{{ bgpgroup.name }} members [ {% for asrange in bgpgroup.asranges %}{{ asrange }} {% endfor %}];
            {%- endfor %}
        }
        protocols {
            bgp {
                family evpn {
                    signaling {
                        nexthop-resolution {
                            no-resolution;
                        }
                        no-install;
                    }
                }
                }{%- for bgpgroup in bgpgroups_mesh %}
                /* Mesh {% if bgpgroup.max_peers is defined %}max_peers:{{ bgpgroup.max_peers }} {% endif %}group from {{ bgpgroup.source.sourcetype }}:{{ bgpgroup.source.hostname }} */
                group {{ bgpgroup.name }} {
                    type internal
                    family evpn {
                        signaling;
                    }
                }
                {%- endfor %}
                {%- for bgpgroup in bgpgroups_subtractive %}
                /* Subtractive group from {{ bgpgroup.prefixes }} */
                group {{ bgpgroup.name }} {
                    type external;
                    multihop {
                        ttl 10;
                        no-nexthop-change;
                    }
                    family evpn {
                        signaling;
                    }
                    peer-as-list MESHRR:{{ bgpgroup.name }};
                    allow [ {% for prefix in bgpgroup.prefixes %}{{ prefix }} {% endfor %}];
                }
                {%- endfor %}
            }
        }
    }
}
apply-groups MESHRR;
